a{
	color: grey;
	text-decoration: none
}
a:hover{
	color: black;
	text-decoration: none
}
body{
	font-family: Comic Sans MS, Tahoma
}
a.list{
	color: darkorange;
	text-decoration: none
}
a.list:hover{
	color: orange;
	text-decoration: none
}
.l{
	visibility: hidden;
}

.success{
	color: green;
}

.error{
	color: red;
}

.star{
	color: darkorange;
}
a.vk{
	color:black;
	text-decoration: none
}
.topBlock{
	position: absolute;
	background-color: grey;
	width: 600px;
	heigh: 50px;
	left: 550px;
	color: darkorange
}
.topBlock1 {
	color: darkorange;
	position: absolute;
	left: 245px;
	top: -23px
}
.topBlock2 {
	position: absolute;
	left: 470px;
}
.topBlock3 {
	position: absolute;
	left: 660px
	
}
.white{
	color: white
}
.red{
	color: red;
	font-size: 17px
}
.img{
	position: fixed;
	top: 250px;
	left: 900px;
}
.sign{
	position: fixed;
	left: 1155px;
}
.password{
	position: fixed;
	top: 250px;
	left: 900px;
}